.nav-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: #f2f2f2;
  margin-left: inherit;
  padding: 10px;
}

.nav {
  overflow: hidden;
  background-color: rgba(22, 182, 100, 0.892);
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: rgba(22, 182, 100, 0.892);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: rgba(22, 182, 100, 0.892);
}

.nav-right {
  float: right;
}
